@model DAL.ViewModels.ForgotPasswordViewModel;
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var demoEmail = TempData["Email"];
}


    <div class="container-fluid bg-dark  min-vw-100 min-vh-100 d-flex">
        <div class="row min-vw-100 min-vh-100">

            <!-- image -->
            <div class="image_main_div col-md-6 col-sm-12 bg-light p-0 d-none d-md-block ">
                <img src="~/images/dominos_background.jpg" class="h-100 w-100" alt="">
            </div>

            <!-- login details -->
            <div
                class="login_details_main_div col-md-6 col-sm-12  d-flex flex-column justify-content-center align-items-center">
                <div class=" row">
                    <!-- logo -->
                    <div class="logo-main-div d-flex justify-content-center">
                        <div class="logo-image  me-2">
                            <img src="~/images/logos/pizzashop_logo.png" width="50px" alt="">
                        </div>
                        <div class="logo-text text-primary fs-3 fw-semibold">PIZZASHOP</div>
                    </div>

                    <!-- forgot password text -->
                    <div class="forgotpass-div fs-4 fw-semibold row mt-4 ">
                        <div class="col-2"></div>
                        <div class="col-7 ms-2">Forgot Password</div>
                        <!-- <div class="col-2"></div> -->

                    </div>

                    <div class="forgotpass-text-div fs-6 row mt-4 ">
                        <div class="col-2"></div>
                        <div class="col-9 ms-2">Enter your Email address to reset the password</div>
                        <!-- <div class="col-2"></div> -->
                      
                    </div>
                
                    <!-- imput fields -->
                    <!-- login form -->
                    <div class="form-main-div mt-1">
                        <form asp-action="ForgotPassword">
                            <div class="row fs-5 mt-2 form-group">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <!-- ?username -->
                                    <p class="username-div mt-2 ">
                                        @* <label asp-for="Email" class="control-label"></label> *@
                                        <input type="email" asp-for="Email" value=@demoEmail class="w-100  p-2 d-inline form-control"
                                            placeholder="Email" />
                                        <i class="bi bi-person-fill"></i>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </p>
                                </div>
                            </div>

                            <!-- errormessage -->
                            <div class="row">
                                <span class="col-2"></span>
                                <span class="col-8 error-message text-danger">@ViewBag.message</span>
                            </div>

                            <div class="row fs-5 mt-3">
                                <div class="col-2"></div>
                                <div class="col-8">
                                 <!-- <span  class="text-danger"> </span> -->
                                    <input type="submit"
                                        class="btn btn-primary login-btn-btn bg-primary border-primary w-100" value="Send">
                                </div>
                            </div>


                            <div class="d-flex justify-content-center mt-2"> <a asp-action="VerifyPassword" asp-controller="UserLogin"
                                class="text-decoration-none text-small ms-3 back-to-login-atag ">Back to Login</a></div>

                        

                        </form>


                    </div>

                </div>
            </div>

        </div>
<script src="/js/index.js"></script>
<script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage",successMessage);
             toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) 
                {
                    toastr.error(errorMessage);
                }
            })
    </script>
