@model DAL.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="container-fluid bg-dark  min-vw-100 min-vh-100 d-flex">
        <div class="row min-vw-100 min-vh-100">

            <!-- image -->
            <div class="image_main_div col-md-6 col-sm-12 bg-light p-0 d-none d-md-block ">
                <img src="~/images/dominos_background.jpg" class="h-100 w-100" alt="">
            </div>

            <!-- login details -->
            <div
                class="login_details_main_div col-md-6 col-sm-12  d-flex flex-column justify-content-center align-items-center">
                <div class=" row">
                    <!-- logo -->
                    <div class="logo-main-div d-flex justify-content-center">
                        <div class="logo-image  me-2">
                            <img src="~/images/logos/pizzashop_logo.png" width="50px" alt="">
                        </div>
                        <div class="logo-text text-primary fs-3 fw-semibold">PIZZASHOP</div>
                    </div>

                    <!-- welcome -->
                    <div class="reset-text-div fs-4 row mt-4 ">
                        <div class="col-2"></div>
                        <div class="col-7 ms-2">Reset Your password</div>
                        <!-- <div class="col-2"></div> -->

                    </div>

                    <!-- input fields -->
                    <!-- reset password -->
                    <div class="form-main-div mt-1">
                        <form asp-action="ResetPassword">
                            <input asp-for="Email" id="Email" type="hidden" class="w-100 border-dark p-2 border border-end-0"
                                        placeholder="Email" required />
                            <div class="row fs-5 mt-2">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <!-- new password -->
                                    <p class="new-password-div mt-2 ">
                                        <input type="password" asp-for="Password" class="w-100 border-dark p-2 form-control d-inline"
                                            placeholder="New Password" id="password" />
                                            <i class="bi bi-eye-slash-fill" id="togglepassword" onclick="toggle_fnction('togglepassword', 'password')"></i>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                    </p>
                                </div>

                                <!-- error message -->
                            <div class="row">
                                <span class="col-2"></span>
                                <span class="col-8 error-message"></span>
                            </div>
                            </div>
                            <div class="row fs-5 mt-2">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <!-- confirm new password -->
                                    <p class="con-new-password-div mt-2 ">
                                        <input type="password" asp-for="ConfirmPassword" class="w-100 border-dark p-2 form-control d-inline"
                                            placeholder="Confirm New Password" id="password2"  />
                                            <i class="bi bi-eye-slash-fill" id="togglepassword2" onclick="toggle_fnction('togglepassword2', 'password2')"></i>
                                             <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </p>
                                </div>
                            </div>

                            <!-- error message -->
                            <div class="row">
                                <span class="col-2"></span>
                                <span class="col-8 error-message text-danger">@ViewBag.message</span>
                            </div>

                            <!-- login -->
                            <div class="row fs-5 mt-3">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <button type="submit"
                                        class="btn btn-danger send-btn-btn bg-primary border-primary w-100">Send</button>
                                </div>
                            </div>


                            <!-- back to login -->
                            <div class="d-flex justify-content-center mt-2"> <a asp-action="VerifyPassword"
                                class="text-decoration-none text-small ms-3 back-to-login-atag ">Back to Login</a></div>

                        </form>


                    </div>

                </div>
            </div>

        </div>


@section Scripts{
<script src="/js/index.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage",successMessage);
             toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) 
                {
                    toastr.error(errorMessage);
                }
            })
    </script>
}
